
@{
    ViewBag.Title = "Error";
}

<div class="alert-warning">
   <hgroup>
        <h2>Error:</h2>
        <h3>Oops....An error occurred while processing your request.Try again.</h3>
    </hgroup>

</div>

